.section-future p { 
    text-align: left;
     
}

.section-future {
    margin-bottom: 160px;
}

.section-future h1{
    text-align: center;
    margin-bottom: 130px;
    background-color: rgb(158, 66, 75);
    color: white;
    padding: 13px;
    
}

.grid-future{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.description-future1 {
    margin-right: 40px;
    margin-left: 160px;
}

.description-future2 {
    margin-right: 160px;
}


.elements {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: rgb(221, 209, 209);
    
    
    
}

.contattami h1 {
    margin-bottom: 40px;
    margin-top: 33px;
}

.contattami button{
 margin-bottom: 50px;
 background-color:white;
 border: none;
 height: 30px;
 width: 50px;
 border-radius: 7px;
 cursor: pointer;
}

.name {
    margin-bottom: 20px;
}

.email {
    margin-bottom: 30px;
}

.label{
    margin-right: 5px;
   
}

.message {
    margin-bottom: 30px;
}

@media  only screen and (max-width: 480px) {

    .grid-future{
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .description-future1 {
        margin-right: 40px;
        margin-left: 30px;
    }

    .description-future2 {
        margin-right: 40px;
        margin-left: 30px;
    }
    
}