body {
   height: auto;
   width: 100%; 
   background-color: white;
   height: auto;
   margin:0;
   margin-top: 0;
   font-family: 'pathway extreme';
}

.header {
    background-color: rgb(158, 66, 75); 
    position: fixed;
    width: 100%;
    z-index: 1; 
    top: 0;
   
}

.header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color:rgb(158, 66, 75) ;    
}

.header ul a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.header ul a:hover {
    background-color:rgb(139, 57, 65); ;
}

.header .logo{
    float: left;
    width: 40px;
    padding: 10px 20px;
    margin-top: 7px;
}

.header .menù {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
} 

.header .menù-icon {
    padding: 20px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .nav-icon img {
    width: 25px;
    margin-top: 6px;
}

.header .menù-btn  {
    display: none;
}


.header .menù-btn:checked ~ .menù {
  max-height: 240px;
  
}


@media (min-width: 48em) {
    .header li{
    float: left;
    margin-top: 4px;
    }


    .header li a {
        padding: 20px 30px;
    }

    .header .menù{ 
        clear: none;
        float: right;
        max-height: 0;
    }

    .header .menù-icon {
        display: none;
    }
}





